:root {
    --bs-blue: #0d6efd;
    --bs-blue-light: #3b88fb;
    --bs-blue-light-active: #97bef9;
    --bs-blue-light-table: #b7d2f9;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #ec4757;
    --bs-light-red: #ff818d;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;

    --bs-primary: #1528a3;
    --bs-primary-light: #3b88fb;
    --bs-primary-box: #e8efff;
    --bs-secondary: #5d6778;
    --bs-success: #3c60b4;
    --bs-danger: #d26d69;
    --bs-warning: #eebf41;
    --bs-info: #5b99ea;
    /* --bs-primary-rgb: 21, 163, 98; */
    --bs-primary-rgb: var(--bs-blue);
    --bs-secondary-rgb: 93, 103, 120;
    /* --bs-success-rgb: 92, 179, 119; */
    --bs-success-rgb: 13, 110, 253;
    --bs-danger-rgb: 210, 109, 105;
    --bs-warning-rgb: 238, 191, 65;
    --bs-info-rgb: 91, 153, 234;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-heading-color: ;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-nav-bg-color: #edf4fd;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-bg-color-box:#ebeeff;
    --bs-nav-bg-color_1-chat : #edf4fd;
    --bs-nav-bg-color_2-chat : #fdedf2;
    --bs-closed-chat-bg-color: #c8c8c8;
  }